{% extends 'nfactoria/standart.html' %}
{% block title %}Signup {% endblock %}
{% block body %}
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        body {
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #fff;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            max-width: 500px;
            background-color: #1db954;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .form-container {
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 10px;
            text-align: center;
            color: #000;
        }

        .input-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #000;
        }

        input {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            background-color: #f9f9f9;
            color: #000;
        }

        button {
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #000;
            color: #1db954;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #333;
        }
    </style>
<body>
    <div class="container">
        <div class="form-container">
            <form method="POST" action="/nfactoria/signup" id="signupForm">{% csrf_token %}
                <h2>Signup</h2>
                <div class="input-group">
                    <label for="signupName">Name</label>
                    <input type="text" id="signupName" name="name" required>
                </div>
                <div class="input-group">
                    <label for="signupNickname">Nickname</label>
                    <input type="text" id="signupNickname" name="nickname" required>
                </div>
                <div class="input-group">
                    <label for="signupEmail">Email</label>
                    <input type="email" id="signupEmail" name="email" required>
                </div>
                <div class="input-group">
                    <label for="signupPassword">Password</label>
                    <input type="password" id="signupPassword" name="password" required>
                </div>
                <button type="submit">Signup</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}